# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.log.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Go
app/app
app/*.exe
app/*.test
app/*.prof
vendor/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
